@font-face {
    font-family: font;
    src: url(MYRIADPRO-REGULAR.OTF);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    font-family: font;
    background-color: pink;
}